.app {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  gap: 40px;
  background-color: #ecf3f9;
}

.shop-page {
  display: flex;
  height: auto;
  width: 100vw;
  padding-top: 60px;
  position: relative;
  inset: 0;
}

.item {
  display: flex;
  width: 100vw;
  position: relative;
  height: auto;
}

@media (max-width: 800px) {
  .shop-page {
    flex-direction: column;
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  color: #32374a;
  line-height: 1.6;
  background-color: #ecf3f9;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

.button-type1 {
  font: inherit;
  display: grid;
  place-content: center;
  align-self: self-start;
  font-size: 2rem;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.1s linear;
  border: 2px solid pink;
  background-color: pink;
  color: black;
}
.button-type1:hover {
  border: 2px solid black;
}
.button-type1::after {
  background-color: white;
  content: "";
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.3s ease;
  transform-origin: top;
}
.button-type1:hover::after {
  transform: scaleY(1);
  transform-origin: bottom;
}
.button-type1 span {
  position: relative;
  z-index: 3;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 1px;
}

.heading-2 {
  font-size: 3.5rem;
  line-height: 1;
}

.heading-3 {
  font-size: 2.5rem;
  line-height: 1;
}

.heading-4 {
  font-size: 2rem;
  line-height: 1;
}

.u-center-text {
  text-align: center !important;
}

.mb-sm {
  margin-bottom: 10px !important;
}

.mb-m {
  margin-bottom: 20px !important;
}

.mb-l {
  margin-bottom: 30px !important;
}

.mb-xl {
  margin-bottom: 40px !important;
}

.hidden {
  overflow-y: hidden;
}

.appear {
  opacity: 1 !important;
}

.referTo {
  position: absolute;
  visibility: none;
  top: 0;
  left: 0;
  height: 75px;
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
  width: 100vw;
}

.scrollToTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  aspect-ratio: 1/1;
  border: 2px solid pink;
  padding: 10px;
  border-radius: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.scrollToTop svg {
  height: 17px;
  width: 17px;
}

.header {
  font-size: 2rem;
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 10px 20px;
  justify-content: space-between;
  color: white;
}
.header__mobileNav {
  display: none;
}
.header__navigation {
  display: flex;
  gap: 40px;
}
.header__navigation svg {
  height: 30px;
  fill: white;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}
.header__route-item, .header__route-item a {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__route-item--user, .header__route-item a--user {
  fill: none;
  color: white;
}
.header__route-item--hamburger, .header__route-item a--hamburger {
  stroke: black;
  display: none;
}
.header__route-item--cart, .header__route-item a--cart {
  position: relative;
}
.header__route-item--cart .cart-items, .header__route-item a--cart .cart-items {
  font-size: 1rem;
  display: grid;
  place-content: center;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: 50%;
  right: 0;
}

@media (max-width: 1108px) {
  .header__mobileNav {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    color: black;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 2rem;
    transition: opacity 0.1s ease;
    opacity: 0;
    pointer-events: none;
  }
  .header__nav-holder {
    width: 60%;
    height: 100%;
    padding: 20px;
    background: white;
    transform: translateX(100%);
    transition: transform 0.2s 0.1s ease;
  }
  .header__mobile-x-mark {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: transform 0.3s ease;
  }
  .header__mobile-x-mark svg {
    transition: transform 0.3s ease;
    width: 25px;
    height: 25px;
  }
  .header__mobile-x-mark svg:hover {
    cursor: pointer;
    transform: rotate(180deg);
  }
  .header__mobile-routes, .header__mobile-settings {
    list-style-type: none;
  }
  .header__list--routes {
    display: none;
  }
  .header__route-item--hamburger {
    display: grid;
    align-self: center;
  }
  .header__route-item--user {
    display: none;
  }
}
.btn {
  cursor: pointer;
  width: max-content;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: transparent;
}
.btn__home {
  border: 1px solid pink;
  font-family: inherit;
  background-color: pink;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.6rem;
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s ease;
  transform-origin: bottom;
}
.btn__home::before {
  content: "";
  transition: transform ease 0.1s;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}
.btn__home:hover {
  background-color: white;
  color: black;
  transform-origin: top;
}

.sliderHolder {
  position: relative;
}

.slider {
  height: 100vh;
  width: 100vw;
  position: relative;
  cursor: grab;
  display: flex;
}
.slider__photoholder {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  display: flex;
  padding: 100px 50px;
  background-position: center center;
  align-items: last baseline;
  background-size: cover;
}
.slider__photo-content {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.slider__photo-content h3 {
  color: white;
}
.slider__actions {
  position: absolute;
  padding-inline: 20px;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider__btn {
  border-radius: 100%;
  width: 40px;
  aspect-ratio: 1/1;
  font-size: 2rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  transition: scale 0.2s ease;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.slider__btn:hover {
  transition: scale 0.2s ease;
  scale: 1.15;
}
.slider__btn--down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  box-shadow: none;
  background-color: transparent;
  transform: translateX(-50%);
}
.slider__btn--down:hover {
  scale: 1;
}

.products {
  height: 80vh;
  width: 100%;
  background-color: #ecf3f9;
  display: flex;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
  gap: 30px;
}
.products__actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.products__type {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}
.products .line {
  display: block;
  height: 5px;
  background-color: rgb(201, 199, 199);
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  --active-width: 80px;
}
.products .line::before {
  content: "";
  display: table;
  background-color: rgb(252, 152, 169);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease;
  transform: translateX(var(--translate-x)) scaleX(var(--active-width));
}
.products__holder {
  width: 100vw;
  position: relative;
}
.products__slider {
  display: flex;
  height: 100%;
  padding: 10px 20px;
  overflow-x: auto;
}
.products__slider::-webkit-scrollbar {
  display: none;
}
.products__slider-next, .products__slider-prev {
  z-index: 100;
  position: absolute;
  top: 30%;
}
.products__slider-prev {
  left: 150px;
  opacity: 0;
  pointer-events: none;
}
.products__slider-next {
  right: 150px;
}
.products__product {
  width: 250px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
.products__product p {
  margin-inline: 5px;
}
.products__product p:last-of-type {
  margin-bottom: 10px;
}
.products__product:hover .products__btn {
  bottom: 10px;
  right: 10px;
  transform: scale(1);
}
.products__btn {
  position: absolute;
  transition: all 0.3s ease;
  bottom: -20px;
  right: -20px;
  transform: scale(0);
  font-size: 20px;
  display: grid;
  place-content: center;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
}
.products__btn:hover svg {
  transform: rotate(90deg);
}
.products__btn svg {
  transition: transform 0.3s ease;
  height: 20px;
  width: 20px;
  color: #34394d;
}
.products__btn::after {
  content: "";
  opacity: 0;
  border-radius: 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid rgb(21, 21, 21);
}
.products__btn:hover::after {
  animation: none;
  animation: pulsate 0.5s ease forwards;
}
.products__btn img {
  width: 100%;
  height: 100%;
}
.products__image-holder {
  width: 100%;
  height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.products__image-holder .cover,
.products__image-holder .image {
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: transform 0.3s ease;
  position: absolute;
  background-position: center;
  background-size: cover;
}
.products__image-holder .cover {
  opacity: 0;
  animation: comeIntoView 0.7s ease forwards;
}
.products__image-holder .image {
  z-index: 0;
  transform: translateX(20%);
  animation: initialHide 0.7s ease forwards;
}
.products__image-holder:hover .cover {
  transform: translateX(-100%);
}
.products__image-holder:hover .image {
  transform: translateX(0);
}
.products__product-price {
  font-size: 20px;
}

.about {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 50px;
  background-color: #ecf3f9;
}
.about__holder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 60px;
  justify-content: center;
}
.about__cell {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 170px;
  font-size: 1.6rem;
}
.about__cell img {
  width: 100px;
  aspect-ratio: 1/1;
}
.about__rating {
  font-size: 1.6rem;
}

.testimonials {
  width: 100%;
  position: relative;
}
.testimonials-actions__btn {
  top: 50%;
  position: absolute;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  display: grid;
  place-content: center;
  background-color: #ecf3f9;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}
.testimonials-actions__btn--prev {
  left: 30px;
  opacity: 0;
  pointer-events: none;
}
.testimonials-actions__btn--next {
  right: 30px;
}
.testimonials-actions__btn svg {
  width: 30px;
  height: 30px;
}
.testimonials__holder {
  width: 100vw;
  padding: 20px;
  overflow-x: scroll;
  cursor: grab;
  scroll-snap-type: x mandatory;
  display: flex;
  scroll-behavior: smooth;
  transition: scroll 0.2s ease;
  gap: 20px;
}
.testimonials__holder::-webkit-scrollbar {
  display: none;
}
.testimonials .dragging {
  scroll-behavior: auto;
  user-select: none;
}
.testimonials .testimonial {
  height: 54vh;
  padding: 20px;
  width: 200px;
  min-width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #32374a;
  text-align: left;
}
.testimonials .testimonial--first {
  background-color: navy;
  color: white;
}
.testimonials .testimonial:last-of-type {
  margin-right: 20px;
}
.testimonials .testimonial__starholder {
  display: flex;
  color: pink;
  padding: 10px;
}
.testimonials .testimonial__starholder svg {
  width: 25px;
  aspect-ratio: 1/1;
  fill: pink;
}
.testimonials .testimonial__text--description {
  font-size: 1.6rem;
}
.testimonials .testimonial__text--author {
  font-size: 1.4rem;
}
.testimonials .testimonial__text--set {
  color: #363b50;
}

.mission {
  width: 100%;
  height: 80vh;
  padding: 50px 150px;
  font-size: 1.6rem;
}
.mission__image {
  height: 100%;
  width: 100%;
  background: url("https://www.mermaidme.de/cdn/shop/files/MM-ExpertSets-HomepageBanner-DesktopA_1512x.jpg?v=1667204557") center center;
  background-size: cover;
  position: relative;
  transform: translate(60px, 0);
}
.mission__text {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 10%;
  left: -100px;
  background: white;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
}
.mission__title {
  font-weight: bold;
}

@media (max-width: 1018px) {
  .mission {
    padding: 10px;
    margin-bottom: 80px;
  }
  .mission__image {
    transform: translateX(0);
  }
  .mission__text {
    height: auto;
    width: 95%;
    top: 60%;
    left: 2.5%;
    align-self: center;
    margin: 0 auto;
  }
}
@keyframes span {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
@keyframes comeIntoView {
  0% {
    background-size: 200%;
    filter: blur(1px);
    opacity: 0.5;
  }
  50% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    background-size: 100%;
    opacity: 1;
  }
}
@keyframes initialHide {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  z-index: 1000;
}
.shop-center {
  width: 40%;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: transform 0.2s 0.1s ease;
  transform: translateX(100%);
}
.shop-center__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  font-size: 1.4rem;
  padding: 0 10px;
  border-bottom: 1px solid gray;
}
.shop-center__action-close {
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  align-self: center;
  border: 1px solid black;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.shop-center__action-close svg {
  width: 10px;
}
.shop-center__item-holder {
  height: calc(100% - 200px);
  overflow-y: auto;
  background-color: white;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shop-center__item {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.shop-center__item-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-color: purple;
}
.shop-center__item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.shop-center__item .actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.shop-center__item .actions .counter {
  font-size: 1.2rem;
  display: flex;
  gap: 20px;
  width: max-content;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  justify-content: space-between;
}
.shop-center__item .actions .counter .plus,
.shop-center__item .actions .counter .minus {
  cursor: pointer;
  width: 10px;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
}
.shop-center__item .actions p {
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
}
.shop-center__total {
  display: flex;
}
.shop-center__total-header {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 0 10px;
  width: 100%;
  justify-content: space-between;
}
.shop-center__total-header .amount {
  font-weight: 600;
}

@media (max-width: 1000px) {
  .shop-center {
    width: 60%;
  }
}
@media (max-width: 800px) {
  .shop-center {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .shop-center {
    width: 100%;
  }
}
.filter {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.filter__chip-holder {
  display: flex;
  padding: 5px;
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;
}
.filter__chip-holder .chip {
  display: flex;
  gap: 2px;
  align-items: center;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: gray;
  color: white;
}
.filter__chip-holder .chip .deleteChip {
  width: 20px;
  height: 20px;
  color: white;
  fill: white;
  cursor: pointer;
}
.filter__holder {
  position: relative;
}
.filter__item {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
.filter__type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  cursor: pointer;
}
.filter__type .plus-minus {
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
  position: relative;
}
.filter__type .plus-minus svg {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease;
}
.filter__type .plus-minus .vertical {
  opacity: 0;
}
.filter__type-options {
  display: none;
  list-style-type: none;
  flex-direction: column;
  gap: 5px;
  height: auto;
  opacity: 0;
  transform: translateY(50%);
  overflow: hidden;
  transition: height 0.3s ease;
}
.filter__type-options .option {
  padding: 0 10px;
}
.filter__type-options .option label {
  padding: 0 5px;
  display: flex;
  gap: 10px;
}

.shop-products {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  padding: 10px 20px;
  gap: 15px !important;
}
.shop-products__product {
  width: unset;
  height: 45vh;
  min-width: unset;
}
.shop-products__product .cover,
.shop-products__product .image {
  background-color: #ecf3f9;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

.wave__holder {
  position: relative;
  height: 30vh;
}

@media (max-width: 800px) {
  .wave__holder {
    height: 15vh;
  }
}
.wave {
  height: 100%;
  position: absolute;
  bottom: -41px;
  left: 0;
  width: 200vw;
  background-color: gray;
  animation: wave 8s infinite linear forwards;
  clip-path: polygon(100% 100%, 0% 100%, 0% 85%, 1.05% 84.84%, 2.11% 84.35%, 3.16% 83.54%, 4.21% 82.44%, 5.26% 81.05%, 6.32% 79.4%, 7.37% 77.52%, 8.42% 75.45%, 9.47% 73.21%, 10.53% 70.85%, 11.58% 68.42%, 12.63% 65.94%, 13.68% 63.47%, 14.74% 61.05%, 15.79% 58.72%, 16.84% 56.52%, 17.89% 54.49%, 18.95% 52.67%, 20% 51.08%, 21.05% 49.76%, 22.11% 48.73%, 23.16% 48%, 24.21% 47.59%, 25.26% 47.51%, 26.32% 47.76%, 27.37% 48.32%, 28.42% 49.21%, 29.47% 50.39%, 30.53% 51.84%, 31.58% 53.55%, 32.63% 55.48%, 33.68% 57.6%, 34.74% 59.87%, 35.79% 62.25%, 36.84% 64.7%, 37.89% 67.18%, 38.95% 69.64%, 40% 72.04%, 41.05% 74.35%, 42.11% 76.51%, 43.16% 78.49%, 44.21% 80.25%, 45.26% 81.78%, 46.32% 83.03%, 47.37% 83.98%, 48.42% 84.63%, 49.47% 84.96%, 50.53% 84.96%, 51.58% 84.63%, 52.63% 83.98%, 53.68% 83.03%, 54.74% 81.78%, 55.79% 80.25%, 56.84% 78.49%, 57.89% 76.51%, 58.95% 74.35%, 60% 72.04%, 61.05% 69.64%, 62.11% 67.18%, 63.16% 64.7%, 64.21% 62.25%, 65.26% 59.87%, 66.32% 57.6%, 67.37% 55.48%, 68.42% 53.55%, 69.47% 51.84%, 70.53% 50.39%, 71.58% 49.21%, 72.63% 48.32%, 73.68% 47.76%, 74.74% 47.51%, 75.79% 47.59%, 76.84% 48%, 77.89% 48.73%, 78.95% 49.76%, 80% 51.08%, 81.05% 52.67%, 82.11% 54.49%, 83.16% 56.52%, 84.21% 58.72%, 85.26% 61.05%, 86.32% 63.47%, 87.37% 65.94%, 88.42% 68.42%, 89.47% 70.85%, 90.53% 73.21%, 91.58% 75.45%, 92.63% 77.52%, 93.68% 79.4%, 94.74% 81.05%, 95.79% 82.44%, 96.84% 83.54%, 97.89% 84.35%, 98.95% 84.84%, 100% 85%);
}

.wave1 {
  animation-delay: 3.2s;
  z-index: 4;
  background-color: #32374a;
}

.wave2 {
  animation-delay: 2.4s;
  background-color: rgba(50, 55, 74, 0.5);
  z-index: 3;
}

.wave3 {
  z-index: 3;
  animation-delay: 1.6s;
  background-color: rgba(50, 55, 74, 0.3);
}

.wave4 {
  z-index: 2;
  animation-delay: 0.8s;
  background-color: rgba(50, 55, 74, 0.2);
}

.wave5 {
  z-index: 1;
  animation-delay: 0s;
  background-color: rgba(50, 55, 74, 0.1);
}

@keyframes wave {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.footer {
  height: 60vh;
  color: white;
  font-size: 1.6rem;
  background-color: #32374a;
  border: 1px solid #32374a;
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.footer__about {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.footer__about-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
}
.footer__about-container .title {
  font-weight: bold;
  font-size: 1.8rem;
}
.footer__about-container .text {
  list-style-type: none;
  transition: color 0.2s linear;
}
.footer__about-container .text li {
  width: max-content;
}
.footer__about-container .text li:hover {
  align-self: self-start;
  color: rgb(198, 194, 194);
}
.footer__socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer__socials-logo {
  width: 45px;
  background-color: white;
  fill: #32374a;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 100%;
}
.footer__socials-logo svg {
  width: 25px;
  fill: #32374a;
  color: #32374a;
}

@media (max-width: 800px) {
  .footer {
    height: auto;
    padding: 40px;
  }
  .footer__about {
    width: 100%;
    flex-direction: column;
  }
  .footer__about-container {
    width: 100%;
  }
}
.item {
  display: flex;
  gap: 20px;
}
.item__shower {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.item__shower .gallery {
  position: relative;
  position: relative;
  overflow: hidden;
  width: 40vw;
  height: 60vh;
}
.item__shower .gallery__photos {
  display: flex;
  z-index: 2;
  transition: transform 0.3s ease;
}
.item__shower .gallery__photos img {
  min-width: 40vw;
  height: 60vh;
  object-fit: contain;
}
.item__shower .gallery:hover .gallery__actions {
  opacity: 1;
}
.item__shower .gallery__actions {
  position: absolute;
  top: 45%;
  opacity: 0;
  cursor: pointer;
  z-index: 4;
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 40px;
  border: none;
  border-radius: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  scale: 1;
}
.item__shower .gallery__actions svg {
  width: 50%;
}
.item__shower .gallery__actions--prev {
  left: 15px;
}
.item__shower .gallery__actions--prev:hover {
  transform: scale(1.3);
}
.item__shower .gallery__actions--next {
  right: 15px;
}
.item__shower .gallery__actions--next:hover {
  transform: scale(1.3);
}
.item__shower .gallery__preview {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}
.item__shower .gallery__preview-photo {
  width: 100px;
  aspect-ratio: 1/1;
}
.item__shower .gallery__preview-photo:first-of-type {
  border: 2px solid black;
}
.item__info {
  width: calc(60vw - 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline-end: 30px;
  font-size: 1.6rem;
  padding-bottom: 50px;
}
.item__info .overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.item__info .overview__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.item__info .overview__item .logo {
  width: 70px;
  max-width: 70px;
  min-width: 70px;
  background-color: gainsboro;
  aspect-ratio: 1/1;
}
.item__info .additional-information {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.item__info .additional-information .title {
  padding: 5px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.item__info .additional-information .activeTitle {
  color: #efefef;
  background-color: #333;
}
.item__info .additional-information .context {
  font-size: 1.6rem;
  height: 0;
  padding-inline: 15px;
  overflow: hidden;
  transition: height 0.3s ease;
}
.item__info .additional-information .activeContext {
  height: auto;
}
.item__price {
  display: flex;
  gap: 5px;
}
.item__price .price {
  text-decoration: line-through;
  color: #777;
}
.item__price .verkauf {
  background-color: #777;
  padding: 2px 4px;
  border-radius: 5px;
  color: white;
}
.item__actions {
  display: flex;
  gap: 10px;
}
.item__actions button {
  flex: 1;
}
.item__actions button:nth-of-type(2) {
  border: none;
  background-color: navy;
  color: white;
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 5px;
}
.item__actions button:nth-of-type(2):hover {
  cursor: pointer;
  background-color: rgb(2, 2, 64);
}
.item .artikel {
  display: flex;
  gap: 20px;
  align-items: center;
}
.item .artikel span {
  display: block;
  width: 8px;
  height: 8px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: green;
  position: relative;
}
.item .artikel span::after {
  content: "";
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  animation: pulseGreen 4s ease infinite;
  background-color: green;
}

@media (max-width: 1000px) {
  .item {
    flex-direction: column;
  }
  .item__shower {
    width: 100%;
  }
  .item__shower .gallery {
    width: 90%;
  }
  .item__shower .gallery__photos img {
    min-width: 100%;
    height: 70vh;
    object-fit: contain;
  }
  .item__title, .item__sub-title {
    margin: 0 auto;
  }
  .item__info {
    width: 100%;
    padding: 20px;
  }
  .item__actions button {
    font-size: 1.5rem;
  }
  .item__actions button:nth-of-type(2) {
    font-size: 1.5rem;
  }
  .item__actions button:nth-of-type(2):hover {
    cursor: pointer;
    background-color: rgb(2, 2, 64);
  }
}
@keyframes pulseGreen {
  0% {
    scale: 1;
    opacity: 0.5;
  }
  25% {
    scale: 3.5;
    opacity: 0;
  }
  100% {
    scale: 4;
    opacity: 0;
  }
}

/*# sourceMappingURL=compile.css.map */
