.app {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  color: #32374a;
  line-height: 1.6;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

.heading-3, .heading-2, .heading-1 {
  font-family: sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 1px;
}

.heading-2 {
  font-size: 3.5rem;
  line-height: 1;
}

.heading-3 {
  font-size: 2.5rem;
  line-height: 1;
}

.header {
  font-size: 2rem;
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 10px 20px;
  justify-content: space-between;
  color: white;
}
.header__navigation {
  display: flex;
  gap: 40px;
}
.header img {
  fill: white;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}
.header__route-item, .header__route-item a {
  display: flex;
  align-items: center;
}

.btn {
  cursor: pointer;
  width: max-content;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: transparent;
}
.btn__home {
  border: 1px solid pink;
  font-family: inherit;
  background-color: pink;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.6rem;
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s ease;
  transform-origin: bottom;
}
.btn__home::before {
  content: "";
  transition: transform ease 0.1s;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}
.btn__home:hover {
  background-color: white;
  color: black;
  transform-origin: top;
}

.sliderHolder {
  position: relative;
}

.slider {
  height: 100vh;
  width: 100vw;
  position: relative;
  cursor: grab;
  display: flex;
}
.slider__photoholder {
  min-width: 100vw;
  height: 100%;
  display: flex;
  padding: 100px 50px;
  align-items: last baseline;
  background-size: cover;
}
.slider__photo-content {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.slider__photo-content h3 {
  color: white;
}
.slider__actions {
  position: absolute;
  padding-inline: 20px;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider__btn {
  border-radius: 100%;
  width: 40px;
  aspect-ratio: 1/1;
  font-size: 2rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  transition: scale 0.2s ease;
}
.slider__btn:hover {
  transition: scale 0.2s ease;
  scale: 1.15;
}
.slider__btn--down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  background-color: transparent;
  transform: translateX(-50%);
}
.slider__btn--down:hover {
  scale: 1;
}

.products {
  height: 60vh;
  width: 100%;
  background-color: #ecf3f9;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  gap: 20px;
}
.products__actions {
  display: flex;
  gap: 10px;
  font-size: 1.6rem;
  line-height: 1;
}

/*# sourceMappingURL=compile.css.map */
