.btn {
  cursor: pointer;
  width: max-content;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: transparent;
  &__home {
    border: 1px solid pink;
    font-family: inherit;
    background-color: pink;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.6rem;
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s ease;
    transform-origin: bottom;
    &::before {
      content: "";
      transition: transform ease 0.1s;
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: inherit;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(100%);
    }
    &:hover {
      background-color: white;
      color: black;
      transform-origin: top;
    }
  }
}

.sliderHolder {
  position: relative;
}

.slider {
  height: 100vh;
  width: 100vw;
  position: relative;
  cursor: grab;
  display: flex;
  &__photoholder {
    width: 100%;
    min-width: 100vw;
    height: 100%;
    display: flex;
    padding: 100px 50px;
    background-position: center center;
    align-items: last baseline;
    background-size: cover;
  }

  &__photo-content {
    display: flex;
    gap: 10px;
    flex-direction: column;

    h3 {
      color: white;
    }
  }

  &__actions {
    position: absolute;
    padding-inline: 20px;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    border-radius: 100%;
    width: 40px;
    aspect-ratio: 1/1;
    font-size: 2rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    transition: scale 0.2s ease;
    box-shadow: $shadow-1;

    &:hover {
      transition: scale 0.2s ease;
      scale: 1.15;
    }
    &--down {
      position: absolute;
      bottom: 10px;
      left: 50%;
      box-shadow: none;
      background-color: transparent;
      transform: translateX(-50%);

      &:hover {
        scale: 1;
      }
    }
  }
}

.products {
  height: 80vh;
  width: 100%;
  background-color: #ecf3f9;
  display: flex;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
  gap: 30px;
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__type {
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
  }

  .line {
    display: block;
    height: 5px;
    background-color: rgb(201, 199, 199);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    --active-width: 80px;
  }

  .line::before {
    content: "";
    display: table;
    background-color: rgb(252, 152, 169);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
    transform: translateX(var(--translate-x)) scaleX(var(--active-width));
  }

  &__holder {
    width: 100vw;
    position: relative;
  }

  &__slider {
    display: flex;
    height: 100%;
    padding: 10px 20px;
    // buttons here
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &-next,
    &-prev {
      z-index: 100;
      position: absolute;
      top: 30%;
    }

    &-prev {
      left: 150px;
      opacity: 0;
      pointer-events: none;
    }

    &-next {
      right: 150px;
    }
  }

  &__product {
    width: 250px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    p {
      margin-inline: 5px;
      &:last-of-type {
        margin-bottom: 10px;
      }
    }

    &:hover {
      .products__btn {
        bottom: 10px;
        right: 10px;
        transform: scale(1);
      }
    }
  }

  &__btn {
    position: absolute;
    transition: all 0.3s ease;
    bottom: -20px;
    right: -20px;
    transform: scale(0);
    font-size: 20px;
    display: grid;
    place-content: center;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;

    &:hover {
      svg {
        transform: rotate(90deg);
      }
    }

    svg {
      transition: transform 0.3s ease;
      height: 20px;
      width: 20px;
      color: #34394d;
    }
    &::after {
      content: "";
      opacity: 0;
      border-radius: 100%;
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      border: 2px solid rgb(21, 21, 21);
    }

    &:hover::after {
      animation: none;
      animation: pulsate 0.5s ease forwards;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__image-holder {
    width: 100%;
    height: 300px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    // animation-play-state: paused;
    .cover,
    .image {
      height: 100%;
      width: 100%;
      z-index: 1;
      transition: transform 0.3s ease;
      position: absolute;
      background-position: center;
      background-size: cover;
    }

    .cover {
      opacity: 0;
      animation: comeIntoView 0.7s ease forwards;
    }

    .image {
      z-index: 0;
      transform: translateX(20%);
      animation: initialHide 0.7s ease forwards;
    }

    &:hover {
      .cover {
        transform: translateX(-100%);
      }

      .image {
        transform: translateX(0);
      }
    }
  }

  &__product-price {
    font-size: 20px;
  }
}

.about {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 50px;
  background-color: #ecf3f9;

  &__holder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 60px;
    justify-content: center;
  }

  &__cell {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 170px;
    font-size: 1.6rem;
    img {
      width: 100px;
      aspect-ratio: 1/1;
    }
  }
  &__rating {
    font-size: 1.6rem;
  }
}

.testimonials {
  width: 100%;
  position: relative;

  &-actions__btn {
    top: 50%;
    position: absolute;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    display: grid;
    place-content: center;
    background-color: #ecf3f9;
    box-shadow: $shadow-1;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
    &--prev {
      left: 30px;
      opacity: 0;
      pointer-events: none;
    }
    &--next {
      right: 30px;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__holder {
    width: 100vw;
    padding: 20px;
    overflow-x: scroll;
    cursor: grab;
    scroll-snap-type: x mandatory;
    display: flex;
    scroll-behavior: smooth;
    transition: scroll 0.2s ease;
    gap: 20px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  // removing the scroll behaviour of smoth because it makes the slider lag when we drag
  .dragging {
    scroll-behavior: auto;
    user-select: none;
  }

  .testimonial {
    height: 54vh;
    padding: 20px;
    width: 200px;
    min-width: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: $color-primary;
    text-align: left;
    &--first {
      background-color: navy;
      color: white;
    }

    &:last-of-type {
      margin-right: 20px;
    }

    &__starholder {
      display: flex;
      color: pink;
      padding: 10px;
      svg {
        width: 25px;
        aspect-ratio: 1/1;
        fill: pink;
      }
    }

    &__text {
      &--description {
        font-size: 1.6rem;
      }

      &--author {
        font-size: 1.4rem;
      }

      &--set {
        color: lighten(#34394d, 1);
      }
    }
  }
}

.mission {
  width: 100%;
  height: 80vh;
  padding: 50px 150px;
  font-size: 1.6rem;
  &__image {
    height: 100%;
    width: 100%;
    background: url("https://www.mermaidme.de/cdn/shop/files/MM-ExpertSets-HomepageBanner-DesktopA_1512x.jpg?v=1667204557")
      center center;
    background-size: cover;
    position: relative;
    transform: translate(60px, 0);
  }

  &__text {
    position: absolute;
    width: 50%;
    height: 80%;
    top: 10%;
    left: -100px;
    background: white;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: start;
  }

  &__title {
    font-weight: bold;
  }
}

@media (max-width: 1018px) {
  .mission {
    padding: 10px;
    margin-bottom: 80px;
    &__image {
      transform: translateX(0);
    }

    &__text {
      height: auto;
      width: 95%;
      top: 60%;
      left: 2.5%;
      align-self: center;
      margin: 0 auto;
    }
  }
}

@keyframes span {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes comeIntoView {
  0% {
    background-size: 200%;
    filter: blur(1px);
    opacity: 0.5;
  }

  50% {
    filter: blur(0);
    opacity: 1;
  }

  100% {
    background-size: 100%;
    opacity: 1;
  }
}

@keyframes initialHide {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
