.wave__holder {
  position: relative;
  height: 30vh;
}

.wave {
  height: 100%;
  position: absolute;
  bottom: -41px;
  left: 0;
  width: 200vw;
  background-color: gray;
  animation: wave 6s infinite linear forwards;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 85%,
    1.05% 84.84%,
    2.11% 84.35%,
    3.16% 83.54%,
    4.21% 82.44%,
    5.26% 81.05%,
    6.32% 79.4%,
    7.37% 77.52%,
    8.42% 75.45%,
    9.47% 73.21%,
    10.53% 70.85%,
    11.58% 68.42%,
    12.63% 65.94%,
    13.68% 63.47%,
    14.74% 61.05%,
    15.79% 58.72%,
    16.84% 56.52%,
    17.89% 54.49%,
    18.95% 52.67%,
    20% 51.08%,
    21.05% 49.76%,
    22.11% 48.73%,
    23.16% 48%,
    24.21% 47.59%,
    25.26% 47.51%,
    26.32% 47.76%,
    27.37% 48.32%,
    28.42% 49.21%,
    29.47% 50.39%,
    30.53% 51.84%,
    31.58% 53.55%,
    32.63% 55.48%,
    33.68% 57.6%,
    34.74% 59.87%,
    35.79% 62.25%,
    36.84% 64.7%,
    37.89% 67.18%,
    38.95% 69.64%,
    40% 72.04%,
    41.05% 74.35%,
    42.11% 76.51%,
    43.16% 78.49%,
    44.21% 80.25%,
    45.26% 81.78%,
    46.32% 83.03%,
    47.37% 83.98%,
    48.42% 84.63%,
    49.47% 84.96%,
    50.53% 84.96%,
    51.58% 84.63%,
    52.63% 83.98%,
    53.68% 83.03%,
    54.74% 81.78%,
    55.79% 80.25%,
    56.84% 78.49%,
    57.89% 76.51%,
    58.95% 74.35%,
    60% 72.04%,
    61.05% 69.64%,
    62.11% 67.18%,
    63.16% 64.7%,
    64.21% 62.25%,
    65.26% 59.87%,
    66.32% 57.6%,
    67.37% 55.48%,
    68.42% 53.55%,
    69.47% 51.84%,
    70.53% 50.39%,
    71.58% 49.21%,
    72.63% 48.32%,
    73.68% 47.76%,
    74.74% 47.51%,
    75.79% 47.59%,
    76.84% 48%,
    77.89% 48.73%,
    78.95% 49.76%,
    80% 51.08%,
    81.05% 52.67%,
    82.11% 54.49%,
    83.16% 56.52%,
    84.21% 58.72%,
    85.26% 61.05%,
    86.32% 63.47%,
    87.37% 65.94%,
    88.42% 68.42%,
    89.47% 70.85%,
    90.53% 73.21%,
    91.58% 75.45%,
    92.63% 77.52%,
    93.68% 79.4%,
    94.74% 81.05%,
    95.79% 82.44%,
    96.84% 83.54%,
    97.89% 84.35%,
    98.95% 84.84%,
    100% 85%
  );
}

.wave1 {
  animation-delay: 2.4s;
  z-index: 4;
  background-color: rgba($color-primary, 1);
}

.wave2 {
  animation-delay: 1.8s;
  background-color: rgba($color-primary, 0.5);
  z-index: 3;
}

.wave3 {
  z-index: 3;
  animation-delay: 1.2s;
  background-color: rgba($color-primary, 0.3);
}

.wave4 {
  z-index: 2;
  animation-delay: 0.6s;
  background-color: rgba($color-primary, 0.2);
}

.wave5 {
  z-index: 1;
  animation-delay: 0s;
  background-color: rgba($color-primary, 0.1);
}

@keyframes wave {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.footer {
  height: 60vh;
  background-color: rgba($color-primary, 1);
  border: 1px solid $color-primary;
}
