.app {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  gap: 40px;
  background-color: #ecf3f9;
}

.shop-page {
  display: flex;
  height: auto;
  width: 100vw;
  padding-top: 60px;
  position: relative;
  inset: 0;
}
